* {
	font-size: 20px;
	margin-top: 1%;
}

.btn {
	width: 18.9%;
	margin-bottom: 2px;
}

.btnEqual {
	width: 100% !important;
}

.btnVar,
.btnBack,
.btnHistory {
	font-size: 0.8rem;
	width: 20%;
}

.btnHistory {
	margin-left: 20px;
}

#variableDiv,
#historyDiv {
	background-color: rgb(177, 212, 243);
	min-height: 100%;
	padding-top: 20px;
	padding-left: 20px;
	border-radius: 50px;
}

#varName,
#varValue {
	width: 35%;
	display: inline;
	font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
	.btn {
		width: 19.45%;
		margin-bottom: 2px;
	}

	#variableDiv,
	#historyDiv {
		min-height: 90%;
		margin-bottom: 100px;
	}
}

li h4 {
	display: inline;
}
